/bin/
/result
/.direnv/
/.env
/.admin-password
/.dev.vars
/control-plane/.dev.vars
/target/
/control-plane/build/
/control-plane/.wrangler/
/control-plane/.wrangler-do-migration-*.json
/node_modules/
/web/dist/
/web/node_modules/
*.log
